<% if resource.errors.any? %>
<div id="error_explanation">

  <ul class='alert  text-center w-100 list-group'>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
      <li class='list-group-item bg-danger text-white'><%= message %></li>
      <% end %>
    </ul>
</div>
<% end %>