<%= form_for @post do |p|%>
<% if @post.errors.any? %>
  <ul class="list-group">
    <% @post.errors.full_messages.each do |message| %>
      <li class="list-group-item bg-warning"><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= p.text_area :content, class:"textarea text-center", placeholder:'Create new post!'%>
<%= p.submit value:"Create",class:"btn bg-teal btn-block mt-1 mb-3"%>
<% end %>
