<h2>All posts</h2>

<% @posts.each do |p| %>
<ul>
  <li>Content : <%= p.content %></li>
  <li>Author : <%= p.author.name %></li>
  <li>Date : <%= p.created_at.strftime('%m/%d/%Y') %></li>
</ul>
<% end %>