/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */


@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome";

body {
  background-color: #535353;
}

.bg-teal {
  background-color: #FFA500;
}

.navbar {

  .logoIndex {
    height: 50px;
    position: absolute;
    top: 3px;
    object-fit: contain;
    margin: 0;
    padding: 0;
  }
}


.textarea {
  height: 50px;
  transition-duration: 1s;
  width: 100%;
  border-radius: 10px;
}

.textarea:focus {
  height: 150px;
  transition-duration: 1s;
}

.user {


  @media (min-width: 992px) {
    margin-left: 20%;
  }
}

.navbar #wrapper {
  display: flex;
  margin: 0 auto;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #535353;
}

.facebook {
  color: black;
}

#login-wrapper {
  background-color: #FFA500;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

.loginHeader {
  margin-bottom: 5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.welcome {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 10px;
}

.btn-facebook {
  border: none;
}

.loginButton {
  height: 90%;
}

.actions {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.links {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.logoLogin {
  width: 40%;
}